docker.enabled = true
params {
    input_dir = "$PWD/input"
    config_file = "$PWD/input/gwas_data_fields.yaml"
    output_dir = "$PWD/output"
}

process {
    withLabel: "process_other" {
        container = 'acogmanish/test:0.2'
        containerOptions = "-v $PWD:$PWD -v /etc/ssl:/etc/ssl -v /usr/local/share/ca-certificates:/usr/local/share/ca-certificates"
    }
}