docker.enabled = true

params {
input_dir = "$baseDir/input"
config_file = "$baseDir/input/gwas_data_fields.yaml"
output_dir = "$baseDir/output"
}

process {
    withLabel: "process_other" {
        container = 'acogmanish/test:0.2'
        containerOptions = '-v /etc/ssl:/etc/ssl -v /usr/local/share/ca-certificates:/usr/local/share/ca-certificates'
    }
}